.card {
  color: #F1E6C1;
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  &__content {
    &-item {
      margin: 3rem 0;
      padding: 1rem 0;
      background: #3F6A8A;
      cursor: pointer;
    }
  }
}
