@import '../../variables.scss';

.card {
  color: $color-yellow;
  min-height: 250px;
  &__trivia {
    flex-direction: column;
   &--hidden {
    display: none;
   }
   &--visible {
    display: flex;
   }
  }
  &__trivia-image {
    height: 200px;
    aspect-ratio: 3/2;
  }
}
