@import '../../variables.scss';

.cat-card {
  color: $color-yellow;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  &__trivia {
    flex-direction: column;
   &--hidden {
    display: none;
   }
   &--visible {
    display: flex;
    gap: 0.5rem;
   }
  }
  &__trivia-image {
    height: 200px;
    aspect-ratio: 3/2;
  }
}
