@import "../../variables.scss";

.cat-fact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: $color-yellow;
  padding-top: 20vh;
  @media (min-width: 768px) {
    height: 100vh;
    padding-top: 0;
  }
}
