.alert {
    color: #271c19;
    width: 100%;
    margin: 0 auto;
    &__item {
      cursor: pointer;
      margin: 3rem 0;
      padding: 1rem 0;
      background: #ffc0ad;
    }
    &__trivia {
      color: #f1e6c1;
    }
  }
  