@import '../../variables.scss';

@keyframes show {
  from { display: none; opacity: 0;}
  to { opacity: 1;}
}

.alert {
  position: absolute;
  left: $triangle-size;
  top: 50px;
  width: $triangle-size;
  height: $triangle-size;
  border-radius: 0;
  overflow: hidden;
  background-color: transparent;
  border: none;
  &__trivia {
    color: $color-yellow;
  }
  &--animate {
    animation: show 300ms;
    display: block;
  }
}
