@import "../../variables.scss";

@keyframes show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cat-alert {
  position: absolute;
  left: $triangle-size - 80px;
  top: 10px;
  width: $triangle-size + 100px;
  height: max-content;
  border-radius: 0;
  overflow: hidden;
  background-color: transparent;
  border: none;
  margin: 0;
  &__trivia {
    color: $color-yellow;
    font-size: 0.75rem;
    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }
  &--animate {
    animation: show 300ms;
    display: block;
  }
  @media (min-width: 768px) {
    top: 30px;
    left: $triangle-size;
    width: $triangle-size + 100px;
    height: $triangle-size + 100px;
  }
}
